<div>
    <h3>¿Ya estás registrado?</h3>
</div>

<form action="/signin" method="POST">
    <input type="text" name="username" placeholder="Usuario" autofocus>
    <input type="password" name="password" placeholder="Contraseña">
    <button>Mi cuenta</button>
</form>